@use '../../utils/variables' as v;
.movie-list {
  @include v.flex('row');
  &-ctl {
    cursor: pointer;
    color: v.$logoColor;
  }
}
#movie_container {
  @include v.flex('row');
  //   flex-wrap: wrap;
  overflow-x: scroll;
  margin: auto;
  width: 100%;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
