@use '../../utils/variables' as v;
.movie {
  @include v.linkStyles;
  margin: 0.4rem;
  justify-content: center;

  &-image {
    width: 299px;
    // height: 50px;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  &-title {
    text-align: center;
  }
}
