@use '../../utils/variables' as v;

$logoColor: #e50914;
@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-navigation {
  background: v.$navBackColor;
  @include flexRow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &-logo {
    color: $logoColor;
    margin-left: 0.5rem;
  }
  &-list {
    @include flexRow;
    list-style: none;
    color: v.$textColor;
  }
  &__list-item {
    @include flexRow();
    padding: 0.5rem;
    span {
      margin-left: 0.3rem;
    }
  }
}
