@use '../../utils/variables' as v;

.main-navigation {
  background: v.$navBackColor;
  @include v.flexRow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &-logo {
    color: v.$logoColor;
    margin-left: 0.5rem;
  }
  &-list {
    @include v.flexRow;
    list-style: none;
    color: v.$textColor;
    &-item {
      a {
        @include v.linkStyles;
        @include v.flexRow();
        padding: 0.5rem;
      }

      span {
        margin-left: 0.3rem;
      }
      &:hover {
        background-color: v.$mainBackColor;
        color: v.$logoColor;
        // border-radius: 15px;
        border-bottom: 2px solid #e50914;
        cursor: pointer;
      }
      &:active {
        color: #e50914;
      }
    }
  }
}
