$textColor: #f3f3f3;
$mainBackColor: #181818;
$navBackColor: #000;
$logoColor: #e50914;
@mixin linkStyles {
  text-decoration: none;
  color: inherit;
}
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}
