@use '../../utils/variables' as v;
.red {
  color: rgb(226, 23, 23);
  margin: 2px;
}
.footer {
  display: block;
}
@media (min-width: 500px) {
  .footer {
    color: v.$textColor;
    // width: 100%;
    background-color: v.$navBackColor;
    display: block;
    flex-shrink: 0;
    height: 100%;
    padding: 0.8rem;
    max-height: 100px;
    &__title {
      @include v.flex('row');
      justify-content: center;
    }
  }
}
